html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
    height: 37.5px;
    width: 37.5px;
}