html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    --size: 16;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
    flex: 0 0 calc(100% / var(--size));
    aspect-ratio: 1 / 1;
}

.colored {
    background-color: gray;
    border: 1px solid rgb(63, 63, 63)
}